@import "tailwindcss";

:root {
    --primary: #0052CC;
    --accent: #2E8BFD;
    --background: #F5F7FA;
    --text: #1C1C1E;
}


body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}